
.h2{
    font-family: 'TT Commons', sans-serif;
    font-weight: 700;
    font-size: 110px;
    line-height: 104px;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 20px;
}

.container p{
    font-family: 'TT Commons', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.useCasesTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'TT Commons', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.useCasesTitle img{
    margin-right: 10px;
}

.useCases{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.useCases span {
    margin-right: 20px;
    font-family: 'TT Commons', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.videos{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.videoContainer{
    display: flex;
    flex-direction: column;
}

.borderVideo{
    width: 274px;
    height: 423px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 12px;
}

.video{
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    transition-duration: .2s;
}

.typeVideo{
    font-family: 'TT Commons', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    color: #000000;
}

.arrow{
}

.choiceVideo{
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.choiceVideo button{
    border-radius: 40px;
    font-family: 'TT Commons', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    color: #000000;
    padding: 10px 26px 10px 10px;

    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: inherit;
    margin-top: 4px;
}

.choiceVideo button img{
    margin-right: 16px;
}

.choiceVideo button:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.1) 100%) !important;

}

.activeButton{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.132) 0%, rgba(0, 0, 0, 0.22) 100%) !important;
}

@media (max-width: 600px) {
    .h2 {
        font-size: 50px;
        line-height: 49px;
        text-align: center;
    }

    .container p {
        font-size: 26px;
        line-height: 30px;
    }

    .useCasesTitle {
        justify-content: center;
    }

    .useCases {
        justify-content: center;
    }

    .useCases span {
        font-size: 22px;
        line-height: 25px;
    }

    .choiceVideo{
        margin-top: 32px;
        justify-content: center;
    }

    .typeVideo{
        font-size: 22px;
        line-height: 22px;
    }

    .choiceVideo button{
        font-size: 22px;
        line-height: 25px;
        border-radius: 28px;
        align-items: flex-start;
        width: 199px;
        margin: 0 auto;
        padding: 11px 18px 8px 8px;
    }

    .choiceVideo button img{
        width: 30px;
        margin-right: 8px;
    }

    .borderVideo{
        width: 168px;
        height: 275px;
        margin-top: 10px;
    }
}
