

.container{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 178px;
}

.email{
    font-family: "TT Commons Bold";
    font-size: 22px;
    color: #000000;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.mobileEmail{
    display: none;
}

@media (max-width: 600px) {
    .container{
        padding-top: 0 ;
    }
    .logo{
        margin: 0 auto;
    }

    .email{
        display: none;
    }
    .mobileEmail{
        display: block;
    }
}
